<h1>Show article</h1>

<h3>Title</h3>
<p><%= @article.title %></p>

<h3>Content</h3>
<p><%= @article.text %></p>

<h4>Comment</h4>
<%= render @article.comments %>

<h4>Add a comment</h4>
<%= render 'comments/form' %>

<%= link_to 'Back', articles_path(@article) %> |
<%= link_to 'Edit', edit_article_path(@article) %>
